<!DOCTYPE HTML>
{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block contenido %}

<h2> Añade saldo para comprar más películas!<br></h2>
<h2> Tu saldo disponible es : {{saldo}}</h2>
<div class ="registro">
  
   <form action ="{{url_for('saldo')}}" method="post" onsubmit="return validar();">
      <p> Saldo a añadir:</p>
      <input class="text1" name=saldo type ="text" id="saldo"required>
      <p></p>

      <input class="boton" type ="submit" value="Confirmar">
   </form>

</div>

<script type='text/javascript'>

function validar(){

   var todo_correcto = true;

   if(isNaN(document.getElementById('saldo').value)){
      alert('El valor introducido es incorrecto');
      todo_correcto = false;
   }
   return todo_correcto;
}

</script>

{% endblock %}
