<!DOCTYPE HTML>

<html lang="es" dir="ltr">
<head>
   <meta charset="UTF-8">
   <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='style.css')}}">
   <link rel="icon" href="../static/imagenes/logo.png" >
   <title> Practica 1 SI: Sofia y Victoria</title>
</head>

<body>

  <div id="contenedor">
    <div id="cabecera">
      <a href="{{url_for('index')}}"><img id="logo" src ="../static/imagenes/logo.png" alt="Logo"></a>
      <h1>Tu tienda de confianza</h1>

      <div class = "busqueda">
         <input class = "buscar" type="text" placeholder="Buscar...">
         <select class="categoria" name="Categoria">
            <option value="">Categoria</option>
            <option value="terror">Terror</option>
            <option value="drama">Drama</option>
            <option value="ciencia">Ciencia ficcion</option>
            <option value="suspense">Suspense</option>
            <option value="animada">Animada</option>
            <option value="romantica">Romantica</option>
         </select>
		 <button class="boton">Buscar</button>
      </div>

	  <div class = "contacto">
		<a href="https://github.com/search?q=org%3Agithub+victoria12345&unscoped_q=victoria12345"><img class="icono" src ="../static/imagenes/git.png" alt="git"></a>
		<a href="https://www.instagram.com/victoria_6/?hl=es"><img class="icono" src ="../static/imagenes/ig.png" alt = "ig"></a>

	  </div>
    </div>


    <div id="menu">
		<ul> <!-- ul define la lista-->
			<li><a href="#">Home</a></li>  <!-- li define cada elemento de la lista-->
			<li><a href="{{url_for('registro')}}">Registrarse</a></li>
			<li><a href="{{url_for('login')}}">Login</a></li>
		</ul>
	</div>

   <div id="contenido">
     {% block contenido %}
     {% endblock %}
   </div>

    <div id="pie">
      <p class= "etiqueta">Práctica realizada por Victoria Pelayo y Sofía Sánchez | &copy; 2019</p>
    </div>
  </div>

</body>
</html>
