{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block contenido %}
      {% if mensaje %}
         <h2>{{mensaje}}</h2>
      {% endif %}
      <h2>Este es tu carrito de la compra...</h2>
      {% if not carrito_lista %}
         <h2> No tienes peliculas en tu carrito </h2>>
      {% else %}
         <table>
            <tr>
               <th> </th>
               <th> Película </th>
               <th> Día </th>
               <th> Precio </th>
               <th> </th>
            </tr>
            {% for item in carrito_lista %}
            <tr>
               <td><img class="imagen" src="../static/imagenes/{{item.poster}}" alt ="item.poster"></td>
               <td> {{item.titulo}} </td>
               <td> 19/07/2019 </td>
               <td> {{item.precio}} </td>
               <td><button onclick="window.location.href='{{url_for('eliminar', pelicula_id = item.id)}}'" class=boton>Eliminar</button></td>
            </tr>
            <tr>
            {% endfor %}
            <tr>
               <td> <button onclick="window.location.href='{{url_for('finalizar')}}' " class=boton>Finalizar Compra</button></td>
            </tr>
         </table>
      {% endif %}
{% endblock %}
