{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block contenido %}
      <h2>Este es tu carrito de la compra...</h2>
      { % if not carrito %}
      <p> No tienes peliculas en tu carrito </p>
      { % endif % }

      {% else }
      <table>
         <tr>
            <th> </th>
            <th> Película </th>
            <th> Día </th>
            <th> Precio </th>
         </tr>
          { %for item in movies %}
          <tr>
             <td><img class="imagen" src="../imagenes/{{film.poster}}" alt ="film.poster"></td>
             <td> {{item.titulo}} </td>
             <td> 19/07/2019 </td>
             <td> {{item.precio}} </td>
          </tr>
          <tr>
         { % endfor % }
       </table>
      { % endif % }
{ % endblock % }
