{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block contenido %}
      <h2>Este es tu historial...</h2>
      {% if not historial %}
      <h2> No tienes peliculas en tu historial</h2>

      {% else %}
      <table>
         <tr>
            <th> </th>
            <th> Película </th>
            <th> Día </th>
            <th> Precio </th>
         </tr>
          {%for item in historial %}
          <tr>
             <td><img class="imagen" src="../static/imagenes/{{item.poster}}" alt ="item.poster"></td>
             <td> {{item.titulo}} </td>
             <td> 19/07/2019 </td>
             <td> {{item.precio}} </td>
          </tr>
          <tr>
         {% endfor %}
       </table>
      {% endif %}
{% endblock %}
