{% extends "base.html" %}



{% block title %}
    {{ title }}
{% endblock %}

{% block contenido %}
      <h2>Este es tu historial...</h2>
      {% if not historial %}
      <h2> No tienes peliculas en tu historial</h2>

      {% else %}
      <h2>Pulsa sobre cualquier pelicula para saber su sinopsis</h2>
      <table>
         <tr>
            <th> Fecha de compra </th>
         </tr>
          {%for item in historial.keys() %}
          <tr class = "todo"> 
             <td> {{item}} </td>
          </tr>
          
            <tr class="informacion">
                <td>Imagen</td>
                <td >Titulo</td>
                <td >Precio </td>
                <td >Cantidad</td>
                 <!-- <td ><div > {{item.sinopsis}}  </div> </td> -->
            </tr>

          {% for i in historial[item] %}
          <tr class="informacion">
              <td><img class="imagen" src="../static/imagenes/{{i.poster}}" alt ="{{i.poster}}"></td>
              <td ><div > {{i.titulo}}  </div> </td>
              <td ><div > {{i.precio}}  </div> </td>
              <td ><div > {{i.cantidad}}  </div> </td>

              
               <!-- <td ><div > {{item.sinopsis}}  </div> </td> -->
          </tr>
          {% endfor %}
          <tr class = "pausa">
          </tr>
      
         
         {% endfor %}
       </table>
      {% endif %}


      <script>


            $(document).ready(function(){ 
              
              $('.todo').click( 
            
                  // Primer click
                  function(){ 
                      $(this).nextUntil('.pausa').slideToggle('slow');
                  }
            
              );
            
            });
         </script>


{% endblock %}
