{% extends "base.html" %}

{% block contenido %}

 
        
            <div class="detalle">
                <div class="arriba">

                    <img class="foto" src="../static/imagenes/{{ film.poster }}" alt ="it">
                    <div class="info">
                        <h1>It Capitulo 2</h1><br>
                        <p><span class="etiqueta"> Duración: </span>{{film.duracion}}</p>
                        <p><span class="etiqueta">País:</span>{{film.pais}}</p>
                        <p><span class="etiqueta"> Género:  </span>{{film.genero}}</p>
                        <p><span class="etiqueta"> Director: </span>{{film.director}}</p>
                        <p><span class="etiqueta"> Guionista: </span>{{film.guionista}}</p>
                    </div>


                    <div class="compra">
                        <p> Precio : {{film.precio}} </p>
                        <button class="botonComprar"><span id="icono-cesta">Comprar</span><img src = "../static/imagenes/carrito.png" alt ="carrito"></button>
                    </div>
                </div>
                <div class="abajo" >
                    <p class="etiqueta"> Sinopsis: </p>
                    <p> {{film.sinopsis}}</p>
                 </div>
            </div>

{% endblock %}