<!DOCTYPE HTML>



{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block contenido %}

   {% if mensaje %}
      <h5>{{mensaje}}</h5>
   {% endif %}
   <h2> Inicia sesion!<br></h2>
   

   <div class ="registro">
      <!-- <form action ="index2.html"> -->
      <form action="{{url_for('login')}}" method="post">
         <p> Nombre de Usuario:</p>
         <input class="text1" name=username type ="text" required>
         <p> Contraseña:</p>
         <input class="text1" name=contrasenna type ="password" required>
         <p></p>
         <input class="boton" type ="submit" value="Confirmar">
      </form>

      <h2>¿Aún no estás registrado?<br></h2>
      <button onclick="self.location.href = 'registro.html'" class ="boton">Regístrate</button>

   </div>
{% endblock %}
