<!DOCTYPE HTML>
{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block contenido %}

<h2> Registrate en nuestra pagina!<br></h2>
<div class ="registro">

   <form action ="index2.html">
      <p> Nombre de Usuario:</p>
      <input class="text1" type ="text" required>
      <p> Contraseña:</p>
      <input class="text1" type ="password">
      <p> Email:</p>
      <input class="text1" type ="text">
      <p> Tarjeta:</p>
      <input class="text1" type ="text">
      <p></p>

      <input class="boton" type ="submit" value="Confirmar">
   </form>

</div>

{% endblock %}
