<!DOCTYPE HTML>

<html lang="es" dir="ltr">
<head>
   <meta charset="UTF-8">
   <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="./css/style.css">
   <link rel="icon" href="./imagenes/logo.png" >
   <title> Practica 1 SI: Sofia y Victoria</title>
</head>

<body>

  <div id="contenedor">


    <div id="cabecera">

      <a href="index.html"><img id="logo" src ="./imagenes/logo.png" alt="Logo"></a>
      <h1>Tu tienda de confianza</h1>

      <div class = "busqueda">
         <input class = "buscar" type="text" placeholder="Buscar...">
         <select class="categoria" name="Categoria">
            <option value="">Categoria</option>
            <option value="terror">Terror</option>
            <option value="drama">Drama</option>
            <option value="ciencia">Ciencia ficcion</option>
            <option value="suspense">Suspense</option>
            <option value="animada">Animada</option>
            <option value="romantica">Romantica</option>
         </select>
		 <button class="boton">Buscar</button>
      </div>

	  <div class = "contacto">
		<a href="https://github.com/search?q=org%3Agithub+victoria12345&unscoped_q=victoria12345"><img class="icono" src ="./imagenes/git.png" alt="git"></a>
		<a href="https://www.instagram.com/victoria_6/?hl=es"><img class="icono" src ="./imagenes/ig.png" alt = "ig"></a>

	  </div>

    </div>


    <div id="menu">
		<ul> <!-- ul define la lista-->
			<li><a href="#">Home</a></li>  <!-- li define cada elemento de la lista-->
			<li><a href="./html/registro.html">Registrarse</a></li>
			<li><a href="./html/login.html">Login</a></li>
		</ul>
	</div>

   <div id="contenido">

     <h3>Quizás te interese ver...</h3>
     <div class="contenidoPeliculas">
        <div class="pelicula_min">
           <a title="It" href='./html/informacion.html'><img class="imagen_princ" src="./imagenes/it.png" alt="It"><p> It Capitulo 2</p></a>
        </div>
        <div class="pelicula_min">
           <a title="Dora" href='./html/informacion.html'><img class="imagen_princ" src="./imagenes/dora.jpg" alt="Dora"><p> Dora la ciudad perdida</p></a>
        </div>
        <div class="pelicula_min">
           <a title="Guerra" href='./html/informacion.html'><img class="imagen_princ" src="./imagenes/guerra.jpg" alt="Guerra"><p> Mientras que dure la guerra</p></a>
        </div>

        <div class="pelicula_min">
           <a title="Hierro" href='./html/informacion.html'><img class="imagen_princ" src="./imagenes/hierro.jpg" alt="Hierro"><p> Quien a hierro mata</p></a>
        </div>

        <div class="pelicula_min">
           <a title="Cegado" href='./html/informacion.html'><img class="imagen_princ" src="./imagenes/cegado.jpg" alt="Cegado"><p> It Capitulo 2</p></a>
        </div>

        <div class="pelicula_min">
           <a title="Rey Leon" href='./html/informacion.html'><img class="imagen_princ" src="./imagenes/reyleon.jpg" alt="Rey Leon"><p> El Rey Leon</p></a>
        </div>
        <div class="pelicula_min">
           <a title="Padre" href='./html/informacion.html'><img class="imagen_princ" src="./imagenes/padre.jpg" alt="Padre"><p> Padre no hay mas que uno</p></a>
        </div>
        <div class="pelicula_min">
           <a title="Objetivo" href='./html/informacion.html'><img class="imagen_princ" src="./imagenes/objetivo.jpg" alt="Objetivo"><p> Objetivo: Washintong D.C.</p></a>
        </div>
     </div>
   </div>

    <div id="pie">
      <p class= "etiqueta">Práctica realizada por Victoria Pelayo y Sofía Sánchez | &copy; 2019</p>
    </div>
  </div>

</body>
</html>
